
<div class="<{$block.row}>">

<{foreach  key=k item=program   from=$block.item }>

<div class="<{$block.span}> <{$block.spanxs}> ">

 <div class="text-center">
  <a    href="<{$program.itemurl}>">
  <{if ($program.logo) }>
    <img alt="<{$program.itemname}>" src="<{$program.itemurl}>/<{$program.logo}>" title="<{$program.itemname}>" alt="<{$program.itemname}>">
  <{else  }>
    <button class="btn btn-large btn-primary" type="button" title="<{$program.itemname}>" alt="<{$program.itemname}>"><{$program.itemname}></button>
  <{/if}>
  </a>
 </div>
 <br />
 </div>

<{/foreach}>

</div>
<{if ($block.memo) }>
<div class="alert alert-block"><{$block.memo}></div>
<{/if}>
