
<div class="row">

<{foreach  key=k item=program   from=$block.item }>
<div class="col-<{$block.width}>  ">
<a    href="<{$program.itemurl}>">

<p>&nbsp;</p>
 <div class="text-center">
  <{if ($program.logo) }>
    <img alt="<{$program.itemname}>" src="<{$program.itemurl}>/<{$program.logo}>" title="<{$program.itemname}>" >
  <{else  }>
    <button class="btn btn-large btn-primary" type="button" title="<{$program.itemname}>" ><{$program.itemname}></button>
  <{/if}>
  </div>


</a>
 </div>
<{/foreach}>

</div>
<{if ($block.memo) }>
<div class="alert alert-block"><{$block.memo}></div>
<{/if}>
